# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
*.xcuserstate

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.xcconfig

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Firebase / GoogleService-Info (eğer gizli tutacaksan)
# GoogleService-Info.plist

# macOS sistem dosyaları
*.swp
*.lock
*.log
*.tmp

# VSCode
.vscode/

# JetBrains
.idea/

# Homebrew / Docker vb.
*.env
docker-compose.override.yml

# Diğer kullanıcı klasörleri (yanlışlıkla eklenmesin diye)
.vagrant.d/
.cargo/
.cache/
.config/
.local/